

.footer{
    width: 100%;
    background-color: $teal;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    overflow-x: hidden!important;
}

.footer a{
    color: rgba(20, 20, 20, 0.897);
}

